<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=enge">
        <meta name="viewport" content="widt=device-width, initial-scale=1.0">
        <title>Este es el index</title>
        <link rel="stylesheet" href="resources/css/styleindex.css">
    </head>
    <body>
        <!-- Navbar -->
    <div class="navbar">
        <h1>Bienvenido, Usuario: Bastyrex</h1>
        <div class="links">
            <a href="#">Home</a>
        </div>
    </div>

    <!-- Contenido de la p치gina -->
    <div style="padding: 20px;">
        <h2>P치gina de Inicio</h2>
        <p>Esta es una simple p치gina de inicio con una barra de navegaci칩n responsiva que incluye el nombre del usuario.</p>
    </div>
    </body>
</html>