<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=enge">
        <meta name="viewport" content="widt=device-width, initial-scale=1.0">
        <title>CuriosaMente</title>
        <link rel="stylesheet" href="resources/css/styleniveles.css">
    </head>
    <body>
       
        
    </body>
</html>