<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleccionar Sala</title>
    <link rel="stylesheet" href="/resources/css/crearsala.css">
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <div class="activity-container">
        <h1>Seleccionar Sala</h1>
        <div class="room-options">
            <button id="create-room">Crear Nueva Sala</button>
            <div class="join-room">
                <input type="text" id="room-id" placeholder="Ingresa el ID de la sala">
                <button id="join-room">Unirse a Sala</button>
                
            </div>
        </div>
        <p id="message"></p>
    </div>
    <script src="/resources/js/seleccionar-sala.js"></script>
</body>
</html>